<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About This Website</title>
    <link rel="stylesheet" href="/src/main/resources/static/style.css">
</head>
<body>
    <nav>
        <a href="/src/main/resources/templates/index.html">Home</a>
        <a href="/src/main/resources/templates/details.html">Animal Details</a>
        <a href="/src/main/resources/templates/about.html">About</a>
    </nav>
    <h1>About This Website</h1>
    <div class="about-container">
        <img src="/src/main/java/com/staticWeb/staticWebsite/images/keanu.jpg" alt="Keanu">
        <p>Hi! My name is Fady, and this website is a project inspired by my love for animals. Ever since I was a kid, I have always had a love for animals and I’ve always wanted to create a space to showcase the different cool facts about different animals.</p>
        <p>This project was especially meaningful because of my cat, Keanu who has been teh cutest and best pet to have, and he reminds me every day why animals are so amazing. Whether wild or domestic, animals bring so much happiness into our lives.</p>
        <p>With this website, I hope to share a little piece of that passion and highlight some incredible creatures from around the world.</p>
    </div>
</body>
</html>
